@import "tailwindcss";

:root {
    --global-bg-color: #ffffff;
    --global-text-color: #2c3038;
    --global-text-color-light: #828282;
    --global-theme-color: #2698ba;
    --global-divider-color: #e5e5e5;
    --global-hover-color: #1d6f8c;
    --global-hover-text-color: #f2f2f2;
    --global-card-bg-color: #ffffff;
    --global-footer-bg-color: #ffffff;
    --global-footer-text-color: #636a73;
    --global-footer-link-color: #636a73;
    --global-code-bg-color: rgba(181, 9, 172, 0.05);
}

:root[data-theme="dark"] {
    --global-bg-color: #1c1d22;
    --global-text-color: #e7e7e7;
    --global-text-color-light: #b7b7b7;
    --global-theme-color: #54b7d6;
    --global-divider-color: #30343c;
    --global-hover-color: #78cae5;
    --global-hover-text-color: #101418;
    --global-card-bg-color: #20232a;
    --global-footer-bg-color: #1c1d22;
    --global-footer-text-color: #a5acb8;
    --global-footer-link-color: #a5acb8;
    --global-code-bg-color: #2c3237;
}

html,
body,
#app {
    margin: 0;
    min-height: 100%;
}

body {
    background-color: var(--global-bg-color);
    color: var(--global-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: var(--global-theme-color);
    text-decoration: none;
}

a:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
}
